{% extends 'cliente/base.html' %}

{% block body %}
<h3 class='m-4'>Detalle de Cliente</h3>
<div class='card ms-4 me-4'>
    <div class='card-body'>
        <ul class="list-unstyled">
            <li><strong>Nombre:</strong> {{cliente.nombre}}<li>
            <li><strong>Apellido:</strong> {{ cliente.apellido }}</li>
            <li><strong>Correo:</strong> ${{ cliente.correo }}</li>
            <li><strong>Teléfono:</strong> {{ cliente.telefono }}</li>
            <li><strong>Dirección:</strong> {{ cliente.direccion }}</li>
            <li><strong>Fecha de Nacimiento:</strong> {{ cliente.fecha_nacimiento }}</li>
        <ul>
        <a href="{% url 'index' %}" class="btn btn-secondary">Volver</a>
    </div>
</div>
{% endblock %}